.menu {

  float: right;

}

.menu ul {

  list-style: none;
  margin: 8px;
  padding: 0;

}

.menu li {

  display: inline-block;
  padding: 0 20px;
  
}

.menu a {

  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';

}

.menu a:hover {

  text-decoration: underline;

}
